<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-accessories-menu" label="Accessories">
		<item label="Calculator">
			<action name="Execute">
				<command>gnome-calculator</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Character Map">
			<action name="Execute">
				<command>gnome-character-map</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Ark File Archiver">
			<action name="Execute">
				<command>ark</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-editors-menu" label="Editors">
		<item label="GEdit">
			<action name="Execute">
				<command>gedit</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="GVim">
			<action name="Execute">
				<command>gvim</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>GVim</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-term-menu" label="Terminals">
		<item label="xfce terminal - screen">
			<action name="Execute">
                <execute>xfce4-terminal -e 'screen -R -U -t "GNU Screen" -S default-session' --geometry=280x83+0+28</execute>
			</action>
		</item>
		<item label="xfce terminal">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<item label="Rxvt Unicode">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="Rxvt Unicode - screen">
			<action name="Execute">
				<execute>urxvt -T "GNU Screen" -geometry 239x76+0+28 -e screen -R -U -t "GNU Screen"</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Firefox</wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="Pidgin Instant Messenger">
			<action name="Execute">
				<command>pidgin</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-office-menu" label="Office">
		<item label="OpenOffice Base">
			<action name="Execute">
				<command>soffice --base</command>
			</action>
		</item>
		<item label="OpenOffice Calc">
			<action name="Execute">
				<command>soffice --calc</command>
			</action>
		</item>
		<item label="OpenOffice Draw">
			<action name="Execute">
				<command>soffice --draw</command>
			</action>
		</item>
		<item label="OpenOffice Impress">
			<action name="Execute">
				<command>soffice --impress</command>
			</action>
		</item>
		<item label="OpenOffice Math">
			<action name="Execute">
				<command>soffice --math</command>
			</action>
		</item>
		<item label="OpenOffice Printer Administration">
			<action name="Execute">
				<command>soffice-printeradmin</command>
			</action>
		</item>
		<item label="OpenOffice Writer">
			<action name="Execute">
				<command>soffice --writer</command>
			</action>
		</item>
	</menu>
	<menu id="apps-fileman-menu" label="File Managers">
		<item label="Thunar">
			<action name="Execute">
				<command>Thunar</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-graphics-menu" label="Graphics">
		<item label="Gimp">
			<action name="Execute">
				<command>gimp</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Gwenview">
			<action name="Execute">
				<command>gwenview</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Manage Cups Printers">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="apps-term-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-editors-menu"/>
		<menu id="apps-fileman-menu"/>
		<menu id="apps-office-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="apps-accessories-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
        <item label="Lock">
            <action name="Execute">
                <command>xscreensaver-command -lock</command>
            </action>
        </item>
	</menu>
</openbox_menu>
